* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
  min-height: 100vh;
}

button {
  background: #38bdf8;
  color: #000;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
